<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styleMain.css">
    
    <title>Little Invest</title>
</head>
<body>

    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <img src="rsc/img/logo-little-invest.png" alt="logo-little-invest" class="logo">
            <ul class="menu" id="js-menu">
                <li><a href="" class="menu-links">Investimentos</a></li>
                <li><a href="" class="menu-links">Serviços</a></li>
                <li><a href="" class="menu-links">Contato</a></li>
                <li><a href="" class="menu-links">Cadastre-se</a></li>
            </ul>
    </nav>

    <div class="invest-now">
        <div>
            <h1>Planeje o seu futuro<br> sem perder tempo<br> no presente</h1>
            <button>Investir agora</button>
        </div>
        <img src="rsc/img/invest-now-img.png" alt="imagem">
    </div>

    <div class="banks">
        <section class="proffits">
            <p>LCI 2018/12</p>
            <p class="text-proffits">110% CDB</p>
            <hr class="line">
            <p class="text-bank">Banco Certo</p>
            <button>Adicionar <img src="rsc/img/add button.png" alt="Add button"></button>
        </section>
        <section class="proffits">
            <p>LCI 2020/01</p>
            <p class="text-proffits">115% CDB</p>
            <hr class="line">
            <p class="text-bank">Santrafe</p>
            <button>Adicionar <img src="rsc/img/add button.png" alt="Add button"></button>
        </section>
        <section class="proffits">
            <p>LCA 2022/06</p>
            <p class="text-proffits">117% CDB</p>
            <hr class="line">
            <p class="text-bank">Banco Inova</p>
            <button>Adicionar <img src="rsc/img/add button.png" alt="Add button"></button>
        </section>
        <section class="proffits">
            <p>LCI 2018/07</p>
            <p class="text-proffits">122% CDB</p>
            <hr class="line">
            <p class="text-bank">Cofre Agora</p>
            <button>Adicionar <img src="rsc/img/add button.png" alt="Add button"></button>
        </section>
    </div>

    <div class="contact">
        <h1>Mais fácil que gastar dinheiro</h1>
        <div class="contact-img">
            <img src="/rsc/img/Acesso online.png" alt="Acesso online">
            <img src="/rsc/img/rendimento facil.png" alt="">
            <img src="/rsc/img/resgate simples.png" alt="">
        </div>
        <button>Entre em contato</button>
    </div>

    <div class="testimony">
        <img src="/rsc/img/testimony.png" alt="">
    </div>

    <div class="account">
        <form action="" class="create-account">
            <fieldset>
                <h2>Crie sua conta</h2>
                <div class="form">
                    <label for="name">Nome Completo</label>
                    <input type="text" id="name" name="name" required placeholder="Insira seu nome completo">
                </div>
                <div class="form">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" id="email" required placeholder="seuemail@email.com"> 
                    
                </div>
                <button>Iniciar Cadastro</button>
            </fieldset>
            
        </form>

        <div class="support">
            <img src="/rsc/img/online-suport.png" alt="Suporte online 24h">
            <p>Ajuda 24h do nosso Suporte Online</p>
        </div>
        
    </div>

    <footer>
        
        <div class="map">
                <h1>MAPA DO SITE</h1>
                <div class="grid">
                    <a href="">-Home</a>
                    <a href="">-Conta</a>
                    <a href="">-Investir</a>
                    <a href="">-Termos</a>
                    <a href="">-Serviços</a>
                    <a href="">-Contato</a>     
                </div>
                     
        </div>

        <div class="social">
            <h1>REDES SOCIAIS</h1>
            <a href="https://www.facebook.com/gustavo.lima.961556/" target=_blank> <img src="rsc/img/facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/login?lang=pt" target=_blank> <img src="rsc/img/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/risin.gus/" target=_blank> <img src="rsc/img/instagram.png" alt="Instagram"></a>
            <a href="https://www.youtube.com/" target=_blank> <img src="rsc/img/youtube.png" alt="Youtube"></a>
        </div>

        <div class="about">
            <h1>SOBRE</h1>
            <p>A little invest é uma empresa de investimentos<br> criada
            para facilitar a vida de investidores. Com<br> ela você investe
            rapidamente o seu dinheiro.</p>
        </div>
    </footer>
    <div class="footer">
         <p>Produzido por Gustavo Lima com ❤</p>
    </div>
    

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
    crossorigin="anonymous"></script>
    <script>
        let mainNav = document.getElementById("js-menu")
        let navBarToggle = document.getElementById("js-navbar-toggle")
      
        navBarToggle.addEventListener("click", function(){
        mainNav.classList.toggle("active")
      })
    </script>
</body>
</html>