<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styleMain.css">
    
    <title>Little Invest</title>
</head>
<body>

    <header class="header">
        <img src="rsc/img/logo-little-invest.png" alt="logo-little-invest">
        <nav>
            <ul class="menu">
                <li><a href="">Investimentos</a></li>
                <li><a href="">Serviços</a></li>
                <li><a href="">Contatos</a></li>
                <li><button>Cadastre-se</button></li>
            </ul>
        </nav>
    </header>

    <div class="invest-now">
        <div>
            <h1>Planeje o seu futuro<br> sem perder tempo<br> no presente</h1>
            <button>Investir agora</button>
        </div>
        <img src="rsc/img/invest-now-img.png" alt="imagem">
    </div>

    <div class="banks">
        <section class="proffits">
            <p>LCI 2018/12</p>
            <p>110% CDB</p>
            <p>Banco Certo</p>
            <button>Adicionar <img src="rsc/img/add button.png" alt="Add button"></button>
        </section>
        <section class="proffits">
            <p>LCI 2020/01</p>
            <p>115% CDB</p>
            <p>Santrafe</p>
            <button>Adicionar <img src="rsc/img/add button.png" alt="Add button"></button>
        </section>
        <section class="proffits">
            <p>LCA 2022/06</p>
            <p>117% CDB</p>
            <p>Banco Inova</p>
            <button>Adicionar <img src="rsc/img/add button.png" alt="Add button"></button>
        </section>
        <section class="proffits">
            <p>LCI 2018/07</p>
            <p>122% CDB</p>
            <p>Cofre Agora</p>
            <button>Adicionar <img src="rsc/img/add button.png" alt="Add button"></button>
        </section>
    </div>

    <div class="contact">
        <h1>Mais fácil que gastar dinheiro</h1>
        <div class="contact-img">
            <img src="/rsc/img/Acesso online.png" alt="Acesso online">
            <img src="/rsc/img/rendimento facil.png" alt="">
            <img src="/rsc/img/resgate simples.png" alt="">
        </div>
        <button>Entre em contato</button>
    </div>

    <div class="testimony">
        <img src="/rsc/img/testimony.png" alt="">
    </div>

    <div class="account">
        <form action="" class="create-account">
            <fieldset>
                <h2>Crie sua conta</h2>
                <div class="form">
                    <label for="name">Nome Completo</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" id="email" required>
                </div>
                <button>Iniciar Cadastro</button>
            </fieldset>
            
        </form>

        <div class="support">
            <img src="/rsc/img/online-suport.png" alt="Suporte online 24h">
            <p>Ajuda 24h do nosso Suporte Online</p>
        </div>
        
    </div>
    
</body>
</html>