* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
a,
p,
button,
legend,
label {
  font-family: 'IBM Plex Sans', sans-serif;
}
button {
  background: #4455DD;
  border: none;
  color: #f2f2f2;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
a {
  text-decoration: none;
  color: #000000;
}
html,
body {
  background: #ffffff;
}
.navbar {
  background: #F2F2F2;
  padding-bottom: 1rem;
}
.menu {
  display: none;
}
.logo {
  height: 1.5rem;
  margin-left: 3rem;
  display: inline-block;
  margin-top: 1rem;
}
.navbar-toggle {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  color: #4455DD;
  font-size: 30px;
}
.active {
  display: block;
}
.menu li {
  list-style: none;
  margin: 15px auto;
  text-align: center;
}
.menu li a {
  padding: 8px;
  border-radius: 0.2rem;
}
.invest-now {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.invest-now h1 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  word-spacing: 0.4rem;
  margin-left: 4rem;
}
.invest-now button {
  height: 2.5rem;
  width: 10rem;
  margin-top: 6rem;
  font-size: 1rem;
  margin-left: 4rem;
}
.invest-now img {
  height: 6rem;
  margin-right: 3rem;
}
.banks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #4455DD;
  height: 10.9rem;
  overflow: hidden;
}
.proffits {
  background: #ffffff;
  height: 11rem;
  width: 18rem;
  border-radius: 0.4rem;
  border: 1px #4455DD;
  margin-top: 0.7rem;
}
.proffits p {
  margin-top: 0.7rem;
  margin-left: 1rem;
}
.proffits .text-proffits {
  color: #4455DD;
}
.proffits .text-bank {
  color: #565656;
}
.banks .proffits .line {
  border: 0;
  border-top: 2px solid #9B9999;
  width: 3rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.proffits button {
  height: 2rem;
  width: 11rem;
  margin-top: 0.4rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
.proffits button img {
  height: 1.2rem;
  margin-left: 3rem;
  vertical-align: middle;
}
.contact {
  text-align: center;
  margin-top: 3rem;
}
.contact-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
.contact-img img {
  width: 15rem;
}
.contact button {
  height: 3rem;
  width: 10rem;
  margin-top: 2rem;
}
.testimony img {
  width: 100%;
  margin-top: 3rem;
}
.account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.2rem;
  background: #F2F2F2;
}
.create-account h2 {
  margin-top: 2rem;
  text-align: center;
  color: #000000;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.create-account fieldset {
  border: none;
  text-align: center;
  margin-bottom: 1rem;
}
.create-account fieldset label {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.create-account fieldset input {
  width: 20rem;
  height: 2rem;
  margin-bottom: 2rem;
  background: #DDDDDD;
  border: none;
  border-radius: 0.2rem;
}
.create-account fieldset input::placeholder {
  opacity: 0.5;
  padding-left: 0.5rem;
}
.create-account fieldset button {
  width: 10rem;
  height: 3rem;
}
.account .support img {
  width: 15rem;
  display: none;
}
.account .support p {
  text-align: center;
  margin-top: 2rem;
  display: none;
}
footer {
  background: #000000;
  display: flex;
  align-items: top;
  justify-content: space-evenly;
  height: 14rem;
  display: none;
}
footer h1 {
  color: #DDDDDD;
  font-size: 1.5rem;
  margin-top: 3rem;
}
.map {
  margin-left: 5rem;
}
.map .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.map .grid a {
  padding: 3px;
}
.social a img {
  height: 2rem;
  margin-right: 0.2rem;
  margin-top: 1rem;
}
footer p,
a {
  color: #565656;
  margin-top: 0.5rem;
}
.footer {
  background: #4455DD;
  height: 3rem;
}
.footer p {
  color: #DDDDDD;
  padding-top: 1rem;
  margin-left: 2rem;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .menu {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .menu li {
    margin: 0;
  }
  .menu-links {
    margin-left: 40px;
  }
  .menu-links:hover {
    background: #4455DD;
    color: #ffffff;
    transition: 0.2s;
  }
  .logo {
    margin-top: 0.1rem;
  }
  .navbar-toggle {
    display: none;
  }
  .invest-now h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .invest-now img {
    height: 20rem;
  }
  .banks {
    overflow: show;
    flex-direction: row;
    justify-content: space-evenly;
    height: 12rem;
  }
  .proffits {
    height: 10rem;
    width: 11rem;
  }
  .proffits button {
    width: 7rem;
    margin-left: 1rem;
  }
  .proffits button img {
    margin-left: 1rem;
    height: 0.8rem;
  }
  .contact-img {
    flex-direction: row;
  }
  .account {
    justify-content: space-evenly;
  }
  .account .support img,
  .account .support p {
    display: flex;
    justify-content: center;
  }
  footer {
    display: flex;
  }
}
